@font-face {
  font-family: 'Noto Sans KR';
  src: local("Noto Sans KR");
  src: url("./assets/fonts/NotoSansKR-Thin.otf") format("opentype"), url("./assets/fonts/NotoSansKR-Thin.ttf") format("truetype"), url("./assets/fonts/NotoSansKR-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Noto Sans KR';
  src: local("Noto Sans KR");
  src: url("./assets/fonts/NotoSansKR-Light.otf") format("opentype"), url("./assets/fonts/NotoSansKR-Light.ttf") format("truetype"), url("./assets/fonts/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Noto Sans KR';
  src: local("Noto Sans KR");
  src: url("./assets/fonts/NotoSansKR-Regular.otf") format("opentype"), url("./assets/fonts/NotoSansKR-Regular.ttf") format("truetype"), url("./assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Noto Sans KR';
  src: local("Noto Sans KR");
  src: url("./assets/fonts/NotoSansKR-Medium.otf") format("opentype"), url("./assets/fonts/NotoSansKR-Medium.ttf") format("truetype"), url("./assets/fonts/NotoSansKR-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Noto Sans KR';
  src: local("Noto Sans KR");
  src: url("./assets/fonts/NotoSansKR-Bold.otf") format("opentype"), url("./assets/fonts/NotoSansKR-Bold.ttf") format("truetype"), url("./assets/fonts/NotoSansKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'Noto Sans KR';
  src: local("Noto Sans KR");
  src: url("./assets/fonts/NotoSansKR-Black.otf") format("opentype"), url("./assets/fonts/NotoSansKR-Black.ttf") format("truetype"), url("./assets/fonts/NotoSansKR-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: block; }

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

@media screen and (min-width: 768px) {
  .sm-only {
    display: none !important; } }

@media screen and (max-width: 1279px) {
  .lg-only {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important; } }

@media screen and (min-width: 1280px) {
  .lg-hidden {
    display: none !important; } }

@media (orientation: landscape) {
  .landscape-hidden {
    display: none !important; } }

html {
  line-height: 1.15; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bold; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearacne: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px; }

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

html {
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  image-rendering: -webkit-optimize-contrast;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif; }

body ::before,
body ::after {
  image-rendering: -webkit-optimize-contrast; }

body,
th,
td,
input,
select,
textarea,
button {
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

button,
input,
select,
textarea {
  cursor: pointer;
  background-color: transparent;
  border: 0 none; }
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none; }

a,
button {
  cursor: pointer; }

ul,
ol,
li {
  padding-left: 0;
  list-style: none; }

br {
  font-family: 'Dotum';
  line-height: 0; }

.play-aside {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 35px;
  height: 35px; }
  @media screen and (min-width: 3000px) {
    .play-aside {
      right: 10%;
      bottom: 10%; } }

.txt-top {
  display: block;
  padding-top: 9px;
  font-family: "Arial Narrow", Helvetica, sans-serif;
  color: #171a21; }

.showButton {
  opacity: 1 !important;
  visibility: visible !important; }

#playwithGames {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.play-main {
  position: relative;
  width: 100%;
  height: 100%; }

.play-footer {
  position: relative; }

.wrap-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 168px; }
  @media screen and (min-width: 1280px) {
    .wrap-footer {
      height: 248px; } }
  .wrap-footer .copyright {
    font-family: "Arial Narrow", Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #767778;
    display: block;
    font-size: 10px; }
    @media screen and (min-width: 1280px) {
      .wrap-footer .copyright {
        font-size: 14px; } }

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }
  .container .row {
    display: flex;
    flex-wrap: nowrap; }
  .container [class^='col-'] {
    padding: 0; }
  .container .col-sm-1 {
    width: 25%; }
  .container .col-sm-2 {
    width: 50%; }
  .container .col-sm-3 {
    width: 75%; }
  .container .col-sm-4 {
    width: 100%; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
      max-width: 1240px;
      padding: 0 20px;
      margin: 0 auto; } }
  .container .col-md-1 {
    width: 103.33333px; }
  .container .col-md-2 {
    width: 206.66667px; }
  .container .col-md-3 {
    width: 310px; }
  .container .col-md-4 {
    width: 413.33333px; }
  .container .col-md-5 {
    width: 516.66667px; }
  .container .col-md-6 {
    width: 620px; }
  .container .col-md-7 {
    width: 723.33333px; }
  .container .col-md-8 {
    width: 826.66667px; }
  .container .col-md-9 {
    width: 930px; }
  .container .col-md-10 {
    width: 1033.33333px; }
  .container .col-md-11 {
    width: 1136.66667px; }
  .container .col-md-12 {
    width: 1240px; }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 100%;
      padding: 0; } }
  .container .col-lg-1 {
    width: 8.33333%; }
  .container .col-lg-2 {
    width: 16.66667%; }
  .container .col-lg-3 {
    width: 25%; }
  .container .col-lg-4 {
    width: 33.33333%; }
  .container .col-lg-5 {
    width: 41.66667%; }
  .container .col-lg-6 {
    width: 50%; }
  .container .col-lg-7 {
    width: 58.33333%; }
  .container .col-lg-8 {
    width: 66.66667%; }
  .container .col-lg-9 {
    width: 75%; }
  .container .col-lg-10 {
    width: 83.33333%; }
  .container .col-lg-11 {
    width: 91.66667%; }
  .container .col-lg-12 {
    width: 100%; }

.play-header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 45px;
  overflow: hidden; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .play-header {
      height: 90px;
      padding: 30px 0 0 20px; } }
  @media screen and (min-width: 1280px) {
    .play-header {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 154px;
      max-width: 2560px;
      min-width: 1280px;
      padding: 48px 95px 0 95px; } }

h1,
.link-logo,
.img-logo {
  display: block;
  width: 86px;
  height: auto;
  margin: 3px 0 0 1px; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    h1,
    .link-logo,
    .img-logo {
      width: 182px;
      margin: 0; } }
  @media screen and (min-width: 1280px) {
    h1,
    .link-logo,
    .img-logo {
      width: 201px;
      margin: 0;
      vertical-align: middle; } }

@media screen and (min-width: 1280px) {
  .bg-notice {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: repeat; } }

.wrap-notice {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  .wrap-notice .inner-p {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrap-notice {
      padding: 0 20px; } }
  @media screen and (min-width: 1280px) and (max-width: 1360px) {
    .wrap-notice .inner-p {
      padding: 0 20px; } }

.tit-notice {
  font-family: "Arial Bold", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  display: block;
  width: 100%;
  margin-top: 79px;
  text-align: center; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .tit-notice {
      font-family: "Arial Bold", Helvetica, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: #000;
      margin-top: 92px; } }
  @media screen and (min-width: 1280px) {
    .tit-notice {
      font-family: "Arial Bold", Helvetica, sans-serif;
      font-weight: 700;
      font-size: 55px;
      line-height: 1em;
      color: #000;
      margin-top: 140px; } }

.list-notice {
  position: relative;
  width: 100%;
  margin-top: 28px;
  text-overflow: ellipsis;
  border-top: 1px solid #000; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .list-notice {
      margin-top: 45px; } }
  @media screen and (min-width: 1280px) {
    .list-notice {
      margin-top: 65px;
      border-top: 2px solid #000; } }
  .list-notice .notice-title {
    display: block;
    height: 100%; }
    @media screen and (min-width: 1280px) {
      .list-notice .notice-title {
        height: 30px; } }
  .list-notice li {
    position: relative;
    padding: 14px 14px 17px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ddd; }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      .list-notice li {
        padding: 16px 24px; } }
    @media screen and (min-width: 1280px) {
      .list-notice li {
        padding: 20px 40px 12px 33px;
        line-height: 1.4em; } }
    .list-notice li .date {
      font-family: "Arial Narrow", Helvetica, sans-serif;
      font-size: 12px; }
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        .list-notice li .date {
          font-size: 14px;
          font-weight: 400;
          color: #494949;
          line-height: 1.4em; } }
      @media screen and (min-width: 1280px) {
        .list-notice li .date {
          float: right;
          font-size: 16px; } }
    .list-notice li .title {
      font-size: 13px;
      font-weight: 400;
      color: #494949;
      display: block;
      padding-right: 25px;
      overflow: hidden;
      line-height: 1.5em;
      text-overflow: ellipsis; }
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        .list-notice li .title {
          position: relative;
          display: inline-block;
          max-width: 550px;
          padding-right: 25px;
          padding-bottom: 10px;
          overflow: hidden;
          text-overflow: ellipsis; } }
      @media screen and (min-width: 1280px) {
        .list-notice li .title {
          position: relative;
          float: left;
          max-width: 1060px;
          padding-right: 25px;
          padding-bottom: 10px;
          font-size: 16px; } }
    .list-notice li .notice-detail {
      position: relative;
      display: none;
      width: 100%;
      padding: 38px 0 64px;
      margin-top: 15px;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.8em;
      color: #171a21;
      word-break: break-all;
      word-wrap: break-word;
      white-space: normal;
      border-top: 1px solid #ddd; }
      @media screen and (min-width: 1280px) {
        .list-notice li .notice-detail {
          max-height: 100%;
          padding: 64px 0 106px;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.8em; } }
      .list-notice li .notice-detail text,
      .list-notice li .notice-detail p,
      .list-notice li .notice-detail div,
      .list-notice li .notice-detail span {
        display: block;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.8em;
        color: #171a21;
        word-wrap: break-word;
        white-space: normal; }
        @media screen and (min-width: 1280px) {
          .list-notice li .notice-detail text,
          .list-notice li .notice-detail p,
          .list-notice li .notice-detail div,
          .list-notice li .notice-detail span {
            margin-top: 40px;
            font-size: 16px; } }
      .list-notice li .notice-detail .subtitle {
        display: block;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.1em;
        letter-spacing: -0.3px;
        word-wrap: break-word;
        white-space: normal; }
        @media screen and (min-width: 1280px) {
          .list-notice li .notice-detail .subtitle {
            font-size: 18px; } }
        .list-notice li .notice-detail .subtitle + .subtitle {
          margin-top: 25px; }
      .list-notice li .notice-detail .paragraph {
        display: block;
        margin-top: 40px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.8em;
        word-wrap: break-word;
        white-space: normal; }
        .list-notice li .notice-detail .paragraph + .paragraph {
          margin-top: 18px; }
          @media screen and (min-width: 1280px) {
            .list-notice li .notice-detail .paragraph + .paragraph {
              margin-top: 23px; } }
        @media screen and (min-width: 1280px) {
          .list-notice li .notice-detail .paragraph {
            margin-top: 40px;
            font-size: 16px; } }

.play-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .play-popup ::-webkit-scrollbar {
    display: none; }

.wrap-popup {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  z-index: 7721;
  width: 80vw;
  max-height: calc(100% - 50px);
  margin-top: 50px;
  background-color: #fff;
  border: 2px solid #fff;
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrap-popup {
      top: calc(50% - 30px);
      width: 660px;
      max-height: 570px; } }
  @media screen and (min-width: 1280px) {
    .wrap-popup {
      top: calc(50% - 55px);
      width: 660px;
      max-height: 570px; } }

.wrap-dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 64;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8; }

.wrap-txt {
  position: relative;
  display: block;
  overflow-y: scroll;
  text-align: center; }
  @media screen and (orientation: portrait) {
    .wrap-txt {
      max-height: 80vh; } }
  @media screen and (max-height: 640px) and (orientation: landscape) {
    .wrap-txt {
      max-height: 300px; } }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrap-txt {
      height: 500px;
      font-size: 13px; } }
  @media screen and (min-width: 1280px) {
    .wrap-txt {
      height: 500px; } }

.tit-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45px;
  padding: 20px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  color: #101010;
  text-align: center;
  border-bottom: 1px solid #ddd; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .tit-popup {
      min-height: 90px;
      font-size: 18px; } }
  @media screen and (min-width: 1280px) {
    .tit-popup {
      min-height: 90px;
      padding: 30px 20px;
      font-size: 22px; } }

.txt-popup {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 30px 30px 25px 30px;
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  color: #494949;
  word-wrap: break-word;
  white-space: normal; }
  .txt-popup p,
  .txt-popup span,
  .txt-popup div {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    color: #494949; }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      .txt-popup p,
      .txt-popup span,
      .txt-popup div {
        font-size: 14px; } }
    @media screen and (min-width: 1280px) {
      .txt-popup p,
      .txt-popup span,
      .txt-popup div {
        font-size: 16px; } }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .txt-popup {
      font-size: 14px; } }
  @media screen and (min-width: 1280px) {
    .txt-popup {
      padding: 60px 60px 50px 60px;
      font-size: 16px; } }

.wrap-visual {
  height: 100%; }
  .wrap-visual .bg-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    background-attachment: fixed;
    background-image: url("./assets/images/img-visual.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      .wrap-visual .bg-visual {
        max-height: 1300px;
        background-position: left top; } }
    @media screen and (min-width: 1280px) {
      .wrap-visual .bg-visual {
        max-height: 1520px;
        background-position: center top; } }
  .wrap-visual .inner-p {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden; }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      .wrap-visual .inner-p {
        width: calc(100% - 40px);
        max-height: 1024px; } }
    @media screen and (min-width: 1280px) {
      .wrap-visual .inner-p {
        height: 100vh;
        max-width: 2560px;
        max-height: 1520px;
        min-width: 1280px;
        padding: 0; } }

.wrap-tit-main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 396px;
  max-height: 388px;
  padding: 0 20px;
  overflow: hidden;
  text-align: left; }
  @media screen and (orientation: landscape) and (max-height: 460px) {
    .wrap-tit-main {
      max-width: 530px;
      max-height: 240px;
      padding-bottom: 10px; } }
  @media screen and (orientation: portrait) and (max-height: 570px) {
    .wrap-tit-main {
      bottom: 20px; } }

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
  .wrap-tit-main {
    max-width: 500px;
    max-height: 280px;
    padding-bottom: 52px;
    padding-left: 54px; } }
  @media screen and (min-width: 1280px) {
    .wrap-tit-main {
      max-width: 2560px;
      min-width: 1280px;
      padding: 0 110px; } }

.tit-main {
  font-size: 42px;
  line-height: 1em;
  color: #fff;
  display: inline;
  width: calc(100% - 40px); }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .tit-main {
      font-size: 34px;
      line-height: 1em;
      color: #fff; } }
  @media screen and (min-width: 1280px) {
    .tit-main {
      font-family: "Arial Narrow", Helvetica, sans-serif;
      font-size: 72px;
      line-height: 1em;
      color: #fff;
      display: inline; } }
  .tit-main.is-narrow {
    font-family: "Arial Narrow", Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px; }
    @media screen and (min-width: 1280px) {
      .tit-main.is-narrow {
        letter-spacing: 1.1px;
        -webkit-animation: ani-main-tit 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        animation: ani-main-tit 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; } }
  .tit-main.is-bold {
    font-family: "Arial Bold", Helvetica, sans-serif;
    font-weight: 700;
    color: #fffd46; }

.txt-main {
  display: block;
  width: 100%;
  margin-top: 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: #fff; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .txt-main {
      margin-top: 16px;
      font-size: 12px;
      line-height: 1.4em; } }
  @media screen and (min-width: 1280px) {
    .txt-main {
      font-size: 16px;
      font-weight: 500;
      margin-top: 18px;
      margin-left: 5px; } }

.wrap-scroll {
  position: relative;
  width: 30px;
  height: 75px;
  margin-top: 25px;
  margin-left: 4px; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrap-scroll {
      height: 88px;
      margin-top: 15px; } }
  @media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {
    .wrap-scroll {
      margin-left: -8px; } }
  @media screen and (min-width: 1280px) {
    .wrap-scroll {
      width: 65px;
      height: 125px;
      margin-top: 22px; } }

.btn-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
  .btn-scroll {
    top: 8px;
    left: -8px;
    padding: 0 20px 20px 0;
    -webkit-animation: ani-scroll 1.5s infinite both;
    animation: ani-scroll 1.5s infinite both; } }
  @media screen and (min-width: 1280px) {
    .btn-scroll {
      padding-right: 52px;
      padding-bottom: 32px;
      -webkit-animation: ani-scroll 1.5s infinite both;
      animation: ani-scroll 1.5s infinite both; } }

.txt-scroll {
  position: absolute;
  top: 3px;
  left: -7px;
  font-size: 10px;
  color: #fff;
  transform: rotate(270deg); }
  @media screen and (max-height: 601px) {
    .txt-scroll {
      top: -8px; } }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .txt-scroll {
      top: -14px;
      left: -20px;
      width: 65px;
      font-size: 12px; } }
  @media screen and (min-width: 1280px) {
    .txt-scroll {
      font-size: 15px;
      font-weight: 500;
      top: 2px;
      left: -24px;
      width: 65px; } }

@-webkit-keyframes ani-main-tit {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px); }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes ani-main-tit {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px); }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-webkit-keyframes ani-scroll {
  0% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-5px); } }

@keyframes ani-scroll {
  0% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-5px); } }

.wrap-btn {
  position: relative;
  margin: 0 auto;
  text-align: center; }

.btn-more {
  max-width: 230px;
  padding: 6px 10px;
  margin-top: 20px;
  font-size: 12px;
  color: #7f7f7f;
  border: 1px solid #ddd; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .btn-more {
      margin-top: 44px; } }

.btn-top {
  position: fixed;
  display: block;
  width: 35px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: #fffd46;
  border-radius: 50%;
  opacity: 0;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s; }

.btn-prev,
.btn-next {
  width: 10px;
  height: 19px;
  margin-bottom: 4px; }

.wrap-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -15px;
  right: 0;
  z-index: 7721;
  width: 80vw;
  height: 50px; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrap-close {
      top: -15px;
      width: 660px;
      height: 55px; } }
  @media screen and (min-width: 1280px) {
    .wrap-close {
      top: -25px;
      width: 660px;
      height: 55px; } }

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .btn-close {
      width: 30px;
      height: 30px; } }
  @media screen and (min-width: 1280px) {
    .btn-close {
      width: 30px;
      height: 30px; } }

.btn-landing {
  display: inline-block;
  height: 30px;
  min-width: 100px;
  padding: 6px 10px;
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
  color: #494949;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .btn-landing {
      height: 45px;
      padding: 12px 33px;
      margin-top: 45px;
      margin-bottom: 50px;
      font-size: 16px; } }
  @media screen and (min-width: 1280px) {
    .btn-landing {
      height: 45px;
      padding: 12px 33px;
      margin-top: 45px;
      margin-bottom: 50px;
      font-size: 16px; } }
  .btn-landing:hover {
    color: #0068b3;
    border-color: #0068b3;
    transition: all 0.2s ease-in-out; }

.ico-comm {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  vertical-align: top; }

.ico-scroll {
  width: 4px;
  height: 25px;
  margin-top: 28px;
  margin-left: 4px;
  background: url("./assets/images/mo/ico-scroll.png") center center no-repeat; }
  @media screen and (max-height: 601px) {
    .ico-scroll {
      margin-top: 18px; } }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .ico-scroll {
      width: 5px;
      height: 31px;
      margin-top: 32px;
      margin-left: 11px;
      background: url("./assets/images/tb/ico-scroll.png") center center no-repeat; } }
  @media screen and (min-width: 1280px) {
    .ico-scroll {
      width: 7px;
      height: 43px;
      margin-top: 65px;
      margin-left: 6px;
      background: url("./assets/images/ico-scroll.png") center center no-repeat; } }

.ico-plus {
  width: 13px;
  height: 13px;
  margin-top: 1px;
  margin-left: 46px;
  background: url("./assets/images/ico-plus.png") center center no-repeat; }

.ico-arr-t {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  width: 10px;
  height: 6px;
  background: url("./assets/images/ico-top.png") center center no-repeat; }

.ico-prev {
  width: 10px;
  height: 19px;
  background: url("./assets/images/ico-prev.png") center center no-repeat; }

.ico-next {
  width: 10px;
  height: 19px;
  background: url("./assets/images/ico-next.png") center center no-repeat; }

.ico-new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  font-family: "Arial Narrow", Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #4cb1f7; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .ico-new {
      width: 18px;
      height: 18px;
      margin-top: -18px;
      font-size: 14px; } }
  @media screen and (min-width: 1280px) {
    .ico-new {
      margin-top: -20px; } }

.ico-close {
  display: block;
  width: 20px;
  height: 20px;
  background: url("./assets/images/ico-close.png") center center no-repeat; }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .ico-close {
      width: 30px;
      height: 30px; } }
  @media screen and (min-width: 1280px) {
    .ico-close {
      width: 30px;
      height: 30px; } }

.wrap-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 55px 0 70px;
  margin: 0 auto; }
  .wrap-pagination .list-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 50px; }
    .wrap-pagination .list-pagination li + li {
      margin-left: 20px; }
    .wrap-pagination .list-pagination a {
      font-size: 16px;
      font-weight: 500;
      position: relative;
      display: block;
      height: 22px;
      padding: 0 6px;
      font-family: "Arial Narrow", Helvetica, sans-serif;
      color: #7f7f7f; }
      .wrap-pagination .list-pagination a:hover, .wrap-pagination .list-pagination a.is-active {
        color: #0068b3;
        border-bottom: 2px solid #0068b3; }

/*# sourceMappingURL=style.css.map */