@mixin font-en-narrow() {
  font-family: $font-en-narrow;
  font-weight: 500;
}

@mixin text-style-72() {
  font-family: $font-en-narrow;
  font-size: $font-size-72;
  line-height: $line-height-10;
  color: $white;
}

@mixin text-style-55() {
  font-family: $font-en-bold;
  font-weight: 700;
  font-size: $font-size-55;
  line-height: $line-height-10;
  color: $black;
}

@mixin text-style-42() {
  font-size: $font-size-42;
  line-height: $line-height-10;
  color: $white;
}

@mixin text-style-40() {
  font-family: $font-en-bold;
  font-weight: 700;
  font-size: $font-size-40;
  color: $black;
}

@mixin text-style-34() {
  font-size: $font-size-34;
  line-height: $line-height-10;
  color: $white;
}

@mixin text-style-30() {
  font-family: $font-en-bold;
  font-weight: 700;
  font-size: $font-size-30;
  color: $black;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  font-weight: 500;
}

@mixin text-style-15() {
  font-size: $font-size-15;
  font-weight: 500;
}

@mixin text-style-14() {
  font-size: $font-size-14;
  font-weight: 400;
  color: $primary;
}

@mixin text-style-13() {
  font-size: $font-size-13;
  font-weight: 400;
  color: $primary;
}

@mixin text-copyright {
  font-family: $font-en-narrow;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $secondary;
}
