.wrap-btn {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.btn-more {
  max-width: 237px;
  padding: 8px 15px;
  margin-top: 22px;
  color: $tertiary;
  border: 1px solid $border;
}

.btn-top {
  @include text-style-10;
  position: fixed;
  display: block;
  width: 35px;
  height: 35px;
  font-family: $font-en-normal;
  text-align: center;
  background-color: $yellow;
  border-radius: 50%;
  opacity: 0;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.showButton {
  opacity: 1 !important;
  visibility: visible !important;
}
