.ico-comm {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  vertical-align: top;
  background-image: url('assets/images/ico-comm.png');
  background-repeat: no-repeat;
  background-size: 150px 50px;
}

.ico-scroll {
  width: 4px;
  height: 22px;
  margin-top: 8px;
  margin-left: 4px;
  background-position: 0 0;

  @include responsive(D) {
    width: 7px;
    height: 43px;
    margin-top: 35px;
    margin-left: 6px;
    background: url('/assets/images/ico-scroll.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.ico-plus {
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-left: 46px;
  background-position: -110px 0;
}

.ico-arr-t {
  @include pos-center-x;
  width: 10px;
  height: 5px;
  background-position: -125px 0;
}
