.play-aside {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 35px;
  height: 35px;

  @media screen and (min-width: 3000px) {
    right: 10%;
    bottom: 10%;
  }
}

.txt-top {
  display: block;
  padding-top: 9px;
  font-family: $font-en-narrow;
  color: $dark-grey;
}

.showButton {
  opacity: 1 !important;
  visibility: visible !important;
}
