.play-header {
  @include flexbox();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  overflow: hidden;
}

.link-logo,
.img-logo {
  display: block;
  width: auto;
  height: 23px;
  margin: 6px 0 0 2px;
}
