.play-header {
  @include flexbox(stretch, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  overflow: hidden;

  @include responsive(D) {
    @include pos-center-x;
    width: 100%;
    height: 154px;
    max-width: 2560px;
    min-width: 1300px;
    padding: 48px 0 0 95px;
  }
}

h1,
.link-logo,
.img-logo {
  display: block;
  width: 86px;
  height: auto;
  margin: 6px 0 0 2px;

  @include responsive(D) {
    width: 201px;
    height: auto;
    margin: 0;
    vertical-align: middle;
  }
}
