.wrap-visual {
  height: 100%;

  .bg-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    background-attachment: fixed;
    background-image: url('./assets/images/img-visual.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive(T) {
      max-height: 1300px;
      background-position: left top;
    }

    @include responsive(D) {
      max-height: 1520px;
      background-position: center top;
    }
  }

  .inner-p {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;

    @include responsive(T) {
      width: calc(100% - 40px);
      max-height: 1024px;
    }

    @include responsive(D) {
      height: 100vh;
      max-width: 2560px;
      max-height: 1520px;
      min-width: 1280px;
      padding: 0;
    }
  }
}

.wrap-tit-main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 396px;
  max-height: 388px;
  padding: 0 20px;
  overflow: hidden;
  text-align: left;

  @media screen and (orientation: landscape) and (max-height: 460px) {
    max-width: 530px;
    max-height: 240px;
    padding-bottom: 10px;
  }

  @media screen and (orientation: portrait) and (max-height: 570px) {
    bottom: 20px;
  }

  @include responsive(T) {
    @media screen and (orientation: portrait) {
      max-width: 500px;
      max-height: 280px;
      padding-bottom: 52px;
      padding-left: 54px;
    }
  }

  @include responsive(D) {
    max-width: 2560px;
    min-width: 1280px;
    padding: 0 110px;
  }
}

.tit-main {
  @include text-style-42;
  display: inline;
  width: calc(100% - 40px);

  @include responsive(T) {
    @include text-style-34;
  }

  @include responsive(D) {
    @include text-style-72;
    display: inline;
  }

  &.is-narrow {
    @include font-en-narrow;
    letter-spacing: $letter-spacing-5;

    @include responsive(D) {
      letter-spacing: $letter-spacing-11;
      -webkit-animation: ani-main-tit 1s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
      animation: ani-main-tit 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
  }

  &.is-bold {
    font-family: $font-en-bold;
    font-weight: 700;
    color: $yellow;
  }
}

.txt-main {
  display: block;
  width: 100%;
  margin-top: 6px;
  font-size: $font-size-11;
  font-weight: 400;
  line-height: $line-height-15;
  letter-spacing: $letter-spacing-2;
  color: $white;

  @include responsive(T) {
    margin-top: 16px;
    font-size: $font-size-12;
    line-height: $line-height-14;
  }

  @include responsive(D) {
    @include text-style-16;
    margin-top: 18px;
    margin-left: 5px;
  }
}

.wrap-scroll {
  position: relative;
  width: 30px;
  height: 75px;
  margin-top: 25px;
  margin-left: 4px;

  @include responsive(T) {
    height: 88px;
    margin-top: 15px;

    @include responsive(O) {
      margin-left: -8px;
    }
  }

  @include responsive(D) {
    width: 65px;
    height: 125px;
    margin-top: 22px;
  }
}

.btn-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include responsive(T) {
    @media screen and (orientation: portrait) {
      top: 8px;
      left: -8px;
      padding: 0 20px 20px 0;
      -webkit-animation: ani-scroll 1.5s infinite both;
      animation: ani-scroll 1.5s infinite both;
    }
  }

  @include responsive(D) {
    padding-right: 52px;
    padding-bottom: 32px;
    -webkit-animation: ani-scroll 1.5s infinite both;
    animation: ani-scroll 1.5s infinite both;
  }
}

.txt-scroll {
  position: absolute;
  top: 3px;
  left: -7px;
  font-size: $font-size-10;
  color: $white;
  transform: rotate(270deg);

  @media screen and (max-height: 601px) {
    top: -8px;
  }

  @include responsive(T) {
    top: -14px;
    left: -20px;
    width: 65px;
    font-size: $font-size-12;
  }

  @include responsive(D) {
    @include text-style-15;
    top: 2px;
    left: -24px;
    width: 65px;
  }
}

// visual animation

@-webkit-keyframes ani-main-tit {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes ani-main-tit {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes ani-scroll {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes ani-scroll {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-5px);
  }
}
