.wrap-visual {
  height: 100vh;
  max-height: 650px;
  overflow: hidden;
  background: url('/assets/images/img-visual.jpg') left top;
  background-size: cover;

  .inner-p {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrap-tit-main {
  position: absolute;
  bottom: 0.7%;
  width: calc(100% - 40px);
  height: 100%;
  max-height: 378px;
  text-align: left;
}

.tit-main {
  @include text-style-42();
  display: block;
  width: calc(100% - 45px);

  &.is-narrow {
    font-family: $font-en-narrow;
    font-weight: 500;
    letter-spacing: $letter-spacing-5;
  }

  &.is-bold {
    margin: -38px 0 0 4px;
    font-family: $font-en-bold;
    letter-spacing: $letter-spacing-16;
    color: $yellow;
  }
}

.wrap-scroll {
  position: relative;
  width: 30px;
  height: 100px;
  margin-top: 16px;
}

.btn-scroll {
  display: block;
  padding: 14px 16px 0 0;
}

.txt-scroll {
  @include text-style-10;
  display: block;
  font-family: $font-en-bold;
  font-weight: 700;
  color: $white;
  transform: rotate(270deg);
}

.txt-main {
  @include text-style-10();
  display: block;
  width: 100%;
  margin: 6px 0 0 4px;
  color: $white;
}
