$black: #000;
$primary: #494949;
$secondary: #767778;
$tertiary: #7f7f7f;
$border: #ddd;
$dark-grey: #171a21;
$grey: #101010;
$white: #fff;

$red: #e40606;
$yellow: #fffd46;
$blue: #0068b3;
$light-blue: #4cb1f7;
