$font-main: 'Noto Sans KR', sans-serif;
$font-en-normal: Arial, Helvetica, sans-serif;
$font-en-narrow: 'Arial Narrow', Helvetica, sans-serif;
$font-en-bold: 'Arial Bold', Helvetica, sans-serif;

$font-size-42: 42px;
$font-size-41: 41px;
$font-size-30: 30px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-11: 11px;
$font-size-10: 10px;

$line-height-10: 1em;

$letter-spacing-5: 0.5px;
$letter-spacing-16: 1.6px;
$letter-spacing-1: -1px;
