$font-main: 'Noto Sans KR', sans-serif;
$font-en-normal: Arial, Helvetica, sans-serif;
$font-en-narrow: 'Arial Narrow', Helvetica, sans-serif;

$font-size-72: 72px;
$font-size-55: 55px;
$font-size-42: 42px;
$font-size-40: 40px;
$font-size-34: 34px;
$font-size-30: 30px;
$font-size-22: 22px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-12: 12px;
$font-size-11: 11px;
$font-size-10: 10px;

$line-height-10: 1em;
$line-height-12: 1.2em;
$line-height-14: 1.4em;
$line-height-15: 1.5em;

$letter-spacing-1: -1px;
$letter-spacing-4: -0.4px;
$letter-spacing-5: 0.5px;
$letter-spacing-10: 1px;
$letter-spacing-11: 1.1px;
$letter-spacing-16: 1.6px;
$letter-spacing-19: 1.9px;
